<a href="https://colab.research.google.com/github/MayankJadhav784/TASK-5/blob/main/TASK%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/tested.csv")

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Step 1: Dataset Overview
We loaded the Titanic dataset using pandas and checked the first few rows with `.head()`.  
This helped us understand the structure of the data and identify missing values.

In [4]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
df['Age'].fillna(df['Age'].median(), inplace=True)

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

df.drop(columns=['Cabin'], inplace=True)

/tmp/ipython-input-3547347457.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)
/tmp/ipython-input-3547347457.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Step 2: Handling Missing Age
The `Age` column had missing values.  
We filled them with the **median age** to avoid skewing the data with extreme values.

# Step 3: Handling Missing Embarked
The `Embarked` column had missing values.  
We filled them with the **mode (most frequent value)** since itâ€™s categorical data.

# Step 4: Dropping Cabin
The `Cabin` column had too many missing values.  
We dropped it because it would not add reliable information to the analysis.

In [6]:
print("Before:", df.shape)
df.drop_duplicates(inplace=True)
print("After:", df.shape)

Before: (418, 11)
After: (418, 11)

# Step 5: Removing Duplicates
We used `.drop_duplicates()` to remove duplicate rows.  
This ensures the dataset is clean and avoids bias in analysis.

In [9]:
df['PassengerId'] = df['PassengerId'].astype(int)
df['Age'] = df['Age'].astype(float)
df['Fare'] = df['Fare'].astype(float)

# Step 6: Converting Data Types
We converted `PassengerId` to integer and `Age` to float.  
Correct data types are important for accurate calculations and analysis.

In [10]:

df['AgeCategory'] = pd.cut(df['Age'], bins=[0,12,18,60,100], labels=['Child','Teen','Adult','Senior'])


df['FareBand'] = pd.qcut(df['Fare'], 4, labels=['Low','Medium','High','Very High'])

In [11]:
df.to_csv("cleaned_data.csv", index=False)

# Step 7: Creating Age Categories
We created a new column `AgeCategory` to group passengers into Child, Teen, Adult, and Senior.  
This helps in analyzing survival rates by age groups.

# Step 8: Creating Fare Bands
We created a new column `FareBand` using quartiles.  
This allows us to compare survival rates across different ticket price ranges.

In [12]:
from google.colab import files
files.download("cleaned_data.csv")

# Step 9: Saving Cleaned Data
We saved the cleaned dataset as `cleaned_data.csv`.  
This ensures reproducibility and allows us to use the cleaned data for further analysis.